<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>306591978610-vg06o91e1ffp404l941kmu3piodbneeo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306591978610-vg06o91e1ffp404l941kmu3piodbneeo</string>
	<key>API_KEY</key>
	<string>AIzaSyAwNJGmj-nbxRXEj0Wpw3Rl-qeZAPaEu6U</string>
	<key>GCM_SENDER_ID</key>
	<string>306591978610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zenopsys.rotary</string>
	<key>PROJECT_ID</key>
	<string>rotary3190-56a98</string>
	<key>STORAGE_BUCKET</key>
	<string>rotary3190-56a98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:306591978610:ios:0456bcdf5b725240</string>
	<key>DATABASE_URL</key>
	<string>https://rotary3190-56a98.firebaseio.com</string>
</dict>
</plist>
